---
oauth:
  consumer_key:        "replace"
  consumer_secret:     "this"
  access_token:        "666-withyourown"
  access_token_secret: "keys"

texts:
  - "Microsoft"
  - /le[vw]a/   # Regular expression

add_to_list: true
list_name: "unfollowed-by-bot"

whitelist:      # array containing the whitelisted users' IDs
  - 491699007